<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" routerLink="" class="brand-logo">Tour Merch</a>
        <ul class="right hide-on-med-and-down">
        <li><a href="https://twitch.com/ghoulboy"><i style="font-size: 28px" class="fa fa-shopping-cart"></i></a></li>    
        </ul>

        <ul id="nav-mobile" class="sidenav">
        <li><a href="http://bit.ly/2KAN80z">Youtube</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>     
    </div>
</nav>
